---
- name: Update brew daily
  cron: name="brew autoupdate" special_time="daily"
        job="/usr/local/bin/brew update"

- name: Cleanup brew
  cron: name="brew cleanup" special_time="monthly"
        job="/usr/local/bin/brew cleanup"
      
- homebrew_tap:
    name: sambadevi/powerlevel9k
    state: present

- name: Remove Brew Packages
  ignore_errors: yes
  homebrew: name={{ item }} state=absent
  with_items:
    - php71-mcrypt
    - php72

- name: Install packages from Homebrew
  homebrew: 
    state: present
    name:
      - ack
      - antigen
      - aria2
      - autoenv
      - bat
      - caddy
      - colordiff
      - composer
      - diff-so-fancy
      - doctl
      - exa
      - exiftool
      - fzf
      - git-cal
      - git-extras
      - httpie
      - hub
      - jq
      - m-cli
      - mas
      - mysql@5.7
      - node
      - pandoc
      - powerlevel9k
      - php73
      - prettyping
      - python
      - python3
      - q
      - ripgrep
      - speedtest_cli
      - textql
      - tree
      - yarn

- name: Install Brew Cask packages
  ignore_errors: yes
  homebrew_cask: 
    state: present
    name:
      - alfred
      - android-sdk
      - bitbar
      - cheatsheet
      - diffmerge
      - disk-inventory-x
      - docker
      - dropbox
      - etcher
      - firefox
      - fluor
      - homebrew/cask-fonts/font-firacode-nerd-font
      - homebrew/cask-fonts/font-firacode-nerd-font-mono
      - homebrew/cask-fonts/font-firamono-nerd-font
      - homebrew/cask-fonts/font-firamono-nerd-font-mono
      - gitup
      - google-chrome
      - hyper
      - iterm2
      - java
      - kap
      - licecap
      - mark-text
      - marked
      - mjml
      - phpstorm
      - qlmarkdown
      - qlstephen
      - quicklook-csv
      - sdformatter
      - sequel-pro
      - slack
      - spotify
      - vagrant
      - visual-studio-code
      - whatsapp

- name: ZSH brew config
  lineinfile: dest=~/.zshrc line='{{ item }}'
  with_items:
    - "source $(brew --prefix)/share/antigen/antigen.zsh"

- name: Remove Brew Cask packages
  ignore_errors: yes
  homebrew_cask: name={{ item }} state=absent
  with_items:
    - franz
    - imageoptim
    - atom
    - dash

- name: Start brew services
  command: brew services start {{ item }}
  with_items:
    - mysql@5.7
