---
- name: Update brew daily
  cron: name="brew autoupdate" special_time="daily"
        job="/usr/local/bin/brew update"

- name: Cleanup brew
  cron: name="brew cleanup" special_time="monthly"
        job="/usr/local/bin/brew cleanup"

- name: Install packages from Homebrew
  homebrew: name={{ item }} state=present
  with_items:
    - ack
    - antigen
    - aria2
    - autoenv
    - bat
    - beanstalkd
    - caddy
    - colordiff
    - composer
    - diff-so-fancy
    - doctl
    - exa
    - exiftool
    - fzf
    - git-cal
    - git-extras
    - httpie
    - hub
    - jq
    - m-cli
    - mas
    - node
    - pandoc
    - php
    - prettyping
    - python
    - python3
    - q
    - ripgrep
    - speedtest_cli
    - textql
    - tree
    - yarn

- name: Install Brew Cask packages
  ignore_errors: yes
  homebrew_cask: name={{ item }} state=present
  with_items:
    - alfred
    - android-sdk
    - bitbar
    - cheatsheet
    - diffmerge
    - disk-inventory-x
    - docker
    - dropbox
    - etcher
    - firefox
    - fluor
    - font-firacode-nerd-font
    - font-hack-nerd-font
    - gitup
    - google-chrome
    - hyper
    - iterm2
    - java
    - kap
    - licecap
    - mark-text
    - marked
    - mjml
    - phpstorm
    - qlmarkdown
    - qlstephen
    - quicklook-csv
    - sdformatter
    - sequel-pro
    - slack
    - vagrant
    - visual-studio-code
    - whatsapp

- name: Remove Brew Packages
  ignore_errors: yes
  homebrew: name={{ item }} state=absent
  with_items:
    - php71-mcrypt

- name: ZSH brew config
  lineinfile: dest=~/.zshrc line='{{ item }}'
  with_items:
    - "source $(brew --prefix)/share/antigen/antigen.zsh"

- name: Remove Brew Cask packages
  ignore_errors: yes
  homebrew_cask: name={{ item }} state=absent
  with_items:
    - franz
    - hosts
    - imageoptim
    - atom
    - dash

- name: Start brew services
  command: brew services start {{ item }}
  with_items:
    - mysql
    - beanstalkd
