---

- name: Run windows roles
  include_role:
    name: windows
  when: "ansible_os_family == 'Windows'"


- name: Create system aliases
  lineinfile: dest=~/.zshrc line='alias {{ item.key }}=\"{{ item.value }}\"' insertafter='# aliases'
  with_dict: "{{aliases}}"
  vars:
    aliases:
      gcod: "git checkout development"
      gcos: "git checkout staging"
      gcop: "git checkout production"
      gmd: "git merge development"
      gms: "git merge staging"
      gmp: "git merge production"
      gc: "git commit -m"
      gs: git status
      gpl: git pull
      gp: git push  
      gpt: "git push --tags"
      gph: git push
      update: "git push && gcos && gmd && git push && gcop && gms && git push && gcod"
      bu: brew update
      art: php artisan
      derpal: drupal
      derp: drupal
      tweet: t tweet
      tweets: t timeline -n 100
      docker_clean_images: 'docker rmi \$(docker images -a --filter=dangling=true -q) --force'
      docker_clean_containers: 'docker rm -v \$(docker ps -a -q -f status=exited)'
      docker_clean_volumes: 'docker volume rm \$(docker volume ls -qf dangling=true)'
      docker_clean: docker_clean_images; docker_clean_containers; docker_clean_volumes
      time_estimate: 'docker run --rm -v \$(pwd):/code khor/git-hours'
      git: hub
      wherefiles: "lsof | awk '{ print $2; }' | uniq -c | sort -rn | head"
      ls: exa
      copy_ssh: "cat ~/.ssh/id_rsa.pub | pbcopy"
      nah: "git reset --hard;git clean -df"
      migrate: "php artisan migrate"
      chrome: "/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"
      octal: "stat -f '%A %a %N'"
      ip: "curl icanhazip.com"
      pg: phonegap

- name: Check if gem config exists
  stat: path={{ ansible_env.HOME }}/.gemrc
  register: gem_config_exists

- name: Create empty gem config file
  file: path={{ ansible_env.HOME }}/.gemrc state=touch
  when: gem_config_exists.stat.exists == false

- name: Create gem config
  lineinfile: dest=~/.gemrc line='{{ item }}'
  with_items:
    - "gem: --no-rdoc --no-ri"
    - "install: --no-rdoc --no-ri"

#- name: Check if global npm directory exists
#  stat: path={{ ansible_env.HOME }}/.npm_packages
#  register: npm_dir_exists
#
#- name: Create npm packages directory
#  file: path={{ ansible_env.HOME }}/.npm_packages state=directory
#  when: npm_dir_exists.stat.exists == false

- name: Create Git configs
  git_config: scope=global name={{ item.name }} value={{ item.value }}
  with_items:
    - { name: 'user.name', value: 'Steve Edson' }
    - { name: 'core.pager', value: 'diff-so-fancy | less --tabs=1,5 -R' }
    - { name: 'color.branch', value: "always" }
    - { name: 'color.diff', value: "auto" }
    - { name: 'color.interactive', value: "always" }
    - { name: 'color.status', value: "always" }
    - { name: 'color.ui', value: "always" }
    - { name: 'color.diff-highlight.oldNormal', value: "red bold" }
    - { name: 'color.diff-highlight.oldHighlight', value: "red bold 52" }
    - { name: 'color.diff-highlight.newNormal', value: "green bold" }
    - { name: 'color.diff-highlight.newHighlight', value: "green bold 22" }
    - { name: 'core.autocrlf', value: "input" }
    - { name: 'core.whitespace', value: "trailing-space,space-before-tab,cr-at-eol" }
    - { name: 'alias.cod', value: "checkout development" }
    - { name: 'alias.cos', value: "checkout staging" }
    - { name: 'alias.cop', value: "checkout production" }
    - { name: 'alias.md', value: "merge development" }
    - { name: 'alias.last', value: "log -1 HEAD" }
    - { name: 'alias.undo-commit', value: "reset HEAD~" }
    - { name: 'alias.headf', value: 'log --graph --pretty=tformat:"%Cblue %h %Cgreen %ad %Cred %an %Creset %s %Cblue%d%Creset" --abbrev-commit --decorate --parents --date=short -n32' }
    - { name: 'diff.tool', value: 'diffmerge' }
    - { name: 'difftool.diffmerge.cmd', value: 'diffmerge "$LOCAL" "$REMOTE"' }
    - { name: 'format.pretty', value: "oneline" }
    - { name: 'merge.tool', value: 'diffmerge' }
    - { name: 'mergetool.diffmerge.cmd', value: 'diffmerge --merge --result="$MERGED" "$LOCAL" "$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\"' }
    - { name: 'mergetool.diffmerge.trustExitCode', value: true }
    - { name: 'push.default', value: "simple" }
    - { name: 'push.followTags', value: true }
    - { name: 'tag.sort', value: 'version:refname' } 

- name: Enable text selection within quicklook
  osx_defaults: domain=com.apple.finder key=QLEnableTextSelection type=bool value=true state=present

- name: Show hidden files in finder by default
  osx_defaults: domain=com.apple.finder key=AppleShowAllFiles type=bool value=true state=present

- name: Reduce keyboard key repeat delay
  osx_defaults: key=InitialKeyRepeat type=int value=25 state=present

- name: Increase keyboard key repeat speed
  osx_defaults: key=KeyRepeat type=int value=2

- name: Set cron shell
  cron: name=SHELL env=yes value=/bin/zsh

- name: Set cron path
  cron: name=PATH env=yes value=/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin

- name: Run this Playbook every two hours
  cron: name="Run Ansible playbook" hour="*/2" minute="0"
        job="source {{ ansible_env.HOME }}/.zshrc; cd {{ playbook_dir }} && git pull && ./ansible.sh"


- name: ZSH Config
  lineinfile: dest=~/.zshrc line='{{ item }}'
  with_items:    
    - "source $(brew --prefix)/share/antigen/antigen.zsh"
    - "antigen bundle zsh-users/zsh-syntax-highlighting"
    - "antigen apply"
    - "export EDITOR=nano"
    - "export PATH=$PATH:~/.composer/vendor/bin"
    - 'export PATH="$PATH:\$(yarn global bin)"'
    - 'export PATH=$PATH:vendor/bin'
    - 'COMPLETION_WAITING_DOTS="true"'
    #- "NPM_PACKAGES={{ ansible_env.HOME }}/.npm_packages"
    #- "export PATH=$NPM_PACKAGES/bin:$PATH"

- name: Check that Hyper config has been symlinked
  stat: path={{ ansible_env.HOME }}/.hyper.js
  register: hyper_config

- name: Delete old hyperterm file
  file: path={{ ansible_env.HOME }}/.hyper.js state=absent
  when:
    - hyper_config.stat.exists == true
    - hyper_config.stat.islnk == false

- name: Hyperterm Config
  file: src={{ playbook_dir }}/roles/dev/files/hyper.js dest={{ ansible_env.HOME }}/.hyper.js state=hard

- name: Check status of Laravel HTML driver file
  stat: path={{ ansible_env.HOME }}/.valet/Drivers/BasicHtmlSuffixValetDriver.php
  register: valet_html_driver

- name: Delete old valet driver file if not linked
  file: path={{ ansible_env.HOME }}/.valet/Drivers/BasicHtmlSuffixValetDriver.php state=absent
  when:
    - valet_html_driver.stat.exists == true
    - valet_html_driver.stat.islnk == false

- name: Install Gem packages
  gem: name={{ item }} state=present
  with_items:
    - bundler
    - jekyll
    - t
    - sass
    - compass
    - gist
    - mailcatcher

- name: Remove Gem packages
  gem: name={{ item }} state=absent
  with_items:
    - susy
    - breakpoint

- name: Make sure PIP is installed
  easy_install: name=pip state=latest
  # become: yes
  ignore_errors: yes

- name: Install PIP packages
  pip: name={{ item }} state=latest
  # become: yes
  extra_args: --user
  ignore_errors: yes
  with_items:
    - tldr
    - proselint
    - whereami
    
#- name: Install PIP 3 packages
#  pip: name={{ item }} state=present executable=pip3
#  with_items:
#    - gitsome

- name: Install global Composer packages
  ignore_errors: yes
  composer: 
    command: "require" 
    working_dir: "{{ ansible_env.HOME }}/.composer"
    no_dev: no
    arguments: "{{ item.name }} {% if 'version' in item %}{{ item.version }}{% endif %}"
  with_items:
    - { name: "laravel/installer" }
    - { name: "laravel/homestead" }
    - { name: "laravel/valet", version: "dev-master" }
    
- name: Copy script to convert pfx files
  file: src={{ playbook_dir }}/roles/dev/files/convert-pfx.sh dest=/usr/local/bin/convert-pfx state=hard mode=u+x

- name: Send Pushover notification
  local_action: pushover app_token="a6abcp5wtcksvjrehgpitw255wcfzb" user_key="Pu6dhGQJuo6feH5Bf0JSwWZIfyAqIu" msg="{{ ansible_nodename }} has completed"
