---
- name: Create system aliases
  lineinfile: dest=/Users/stevee/.zshrc line='alias {{ item.key }}=\"{{ item.value }}\"' insertafter='# aliases'
  with_dict: "{{aliases}}"
  vars:
    aliases:
      gs: git status
      gp: git pull
      bu: brew update
      art: php artisan

- name: Tap required homebrew formulas
  homebrew_tap: tap={{ item }} state=present
  with_items:
    - homebrew/dupes
    - homebrew/versions
    - homebrew/php

- name: Install packages from Homebrew
  homebrew: name={{ item }} state=present update_homebrew=yes
  with_items:
    - caskroom/cask/brew-cask
    - php70
    - speedtest_cli
    - httpie
    - exiftool
    - git-extras
    - ngrok
    - pandoc
    - tree
    - composer
    - node
    - q
    - git-cal
    - aria2

- name: Install Gem packages
  gem: name={{ item }} state=present
  with_items:
    - jekyll
    - t
    - sass
    - compass
    - susy
    - breakpoint
    - gist

- name: Install NPM packages
  npm: name={{ item }} state=present global=yes
  with_items:
    - bower
    - gulp
    - image-assets
    - jspm
    - pm2
    - grunt-cli
    - npm-check-updates
    - yo
    - babel@^5.0.0
    - plato
    - webpack
    - mocha
    - susy
    - nativefier
    - lite-server
  become: yes

- name: Install Brew Cask packages
  ignore_errors: yes
  homebrew_cask: name={{ item }} state=present
  with_items:
    - alfred
    - virtualbox
    - vagrant
    - dash
    - macdown
    - firefox
    - atom
    - iterm2
    - imageoptim
    - sequel-pro
    - qlstephen
    - qlmarkdown
    - quicklook-csv
    - betterzipql
    - dropbox
    - marked
    - licecap
    - dockertoolbox
    - caret
    - bitbar

- name: Remove Brew Cask packages
  ignore_errors: yes
  homebrew_cask: name={{ item }} state=absent
  with_items:
    - nanobox

- name: Install PIP packages
  pip: name={{ item }} state=present
  with_items:
    - tldr
    - classifier

- name: Install global Composer packages
  composer: 
    command: "require" 
    working_dir: "{{ ansible_env.HOME}}/.composer"
    arguments: "{{ item }}"
  with_items:
    - "laravel/installer"
