---
- name: Create system aliases
  lineinfile: dest=~/.zshrc line='alias {{ item.key }}=\"{{ item.value }}\"' insertafter='# aliases'
  with_dict: "{{aliases}}"
  vars:
    aliases:
      gc: "git commit -m"
      gs: git status
      gp: git pull
      bu: brew update
      art: php artisan
      homestead: 'function __homestead() { (cd {{ ansible_env.HOME }}/.composer/vendor/bin/homestead && vagrant $*); unset -f __homestead; }; __homestead'

- name: Create Git configs
  command: "git config --global {{ item }}"
  with_items:
    - 'core.pager "diff-so-fancy | less --tabs=1,5 -R"'
    - 'color.diff-highlight.oldNormal "red bold"'
    - 'color.diff-highlight.oldHighlight "red bold 52"'
    - 'color.diff-highlight.newNormal "green bold"'
    - 'color.diff-highlight.newHighlight "green bold 22"'
    - 'alias.cod checkout development'
    - 'alias.cos checkout staging'
    - 'alias.md merge development'
    - 'alias.last "log -1 HEAD"'

- osx_defaults: domain=com.apple.finder key=QLEnableTextSelection type=bool value=true state=present
- osx_defaults: domain=com.apple.finder key=AppleShowAllFiles type=bool value=true state=present

- name: Tap required homebrew formulas
  homebrew_tap: tap={{ item }} state=present
  with_items:
    - homebrew/dupes
    - homebrew/versions
    - homebrew/php

- name: Install packages from Homebrew
  homebrew: name={{ item }} state=present update_homebrew=yes upgrade_all=yes
  with_items:
    - php70
    - php70-xdebug
    - php-code-sniffer
    - phpmd
    - speedtest_cli
    - httpie
    - exiftool
    - git-extras
    - ngrok
    - pandoc
    - tree
    - composer
    - node
    - q
    - git-cal
    - aria2
    - jq
    - beanstalkd

- name: Install Brew Cask packages
  ignore_errors: yes
  homebrew_cask: name={{ item }} state=present
  with_items:
    - alfred
    - virtualbox
    - vagrant
    - dash
    - firefox
    - atom
    - iterm2
    - imageoptim
    - sequel-pro
    - qlstephen
    - qlmarkdown
    - quicklook-csv
    - betterzipql
    - dropbox
    - marked
    - licecap
    - caret
    - bitbar

- name: Install Gem packages
  gem: name={{ item }} state=present
  with_items:
    - jekyll
    - t
    - sass
    - compass
    - susy
    - breakpoint
    - gist

- name: Install NPM packages
  npm: name={{ item }} state=present global=yes
  with_items:
    - electron-prebuilt
    - bower
    - gulp
    - image-assets
    - jspm
    - pm2
    - grunt-cli
    - npm-check-updates
    - yo
    - babel
    - plato
    - webpack
    - mocha
    - susy
    - nativefier
    - diff-so-fancy
    - vue-cli
    - autochecker
  become: yes

- name: Remove Brew Cask packages
  ignore_errors: yes
  homebrew_cask: name={{ item }} state=absent
  with_items:
    - nanobox

- name: Install PIP packages
  pip: name={{ item }} state=present
  with_items:
    - tldr
    - proselint

- name: Install global Composer packages
  composer: 
    command: "require" 
    working_dir: "{{ ansible_env.HOME }}/.composer"
    arguments: "{{ item }}"
  with_items:
    - "laravel/installer"
    - "laravel/homestead"
    - "getkirby/cli"
    - "humbug/humbug"
    - "laravel/valet"

- name: Setup launch agents for services
  command: launchctl load {{ ansible_env.HOME }}/Library/LaunchAgents/homebrew.mxcl.{{ item }}.plist
  with_items:
    - mysql
    - beanstalkd
